* {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: large;
    background-color: lightgreen;
    border: none;
}

form > input {
    padding: 5px;
}

form > input:hover {
    border: 2px solid red;
}

button:hover {
    background-color: green;
    color: white;
}